<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMH</title>
    <!--    start of js connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script SRC="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <!--    end of js connection-->
    <!--    start of connection to css-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css">
    <!--    end of connection to css-->
</head>
<body>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="index.html"><img src="../static/images/tenwek-logo.png" alt=""></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="services.html">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="events.html">EVENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blog.html">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact-us.html">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>

<!--start of carousel section-->
<section>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/tenwek-img-3.jpg" alt="Pic 1">
                <div class="carousel-caption">
                    <h3 class="tenwek-h3">Tenwek Hospital</h3>
                    <p> </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/tenwek-img-1.jpg" alt="Pic 2">
                <div class="carousel-caption">
                    <h3 class="tenwek-h3">Compassionate Health Care</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/tenwek-img-4.jpg" alt="Pic 3">
                <div class="carousel-caption">
                    <h3 class="tenwek-h3">Spiritual Ministry</h3>
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>
<!--end of carousel section-->

<!--start of introduction section-->
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome to Tenwek Mission Hospital</h1>
            <p>Established in 1937 and located in Bomet County,
                Tenwek Hospital is the Medical Ministry of the Africa Gospel Church in collaboration with the World Gospel </p>
            <p>Mission. We are a 361 bed capacity, Level 6(b), Teaching and Referral Mission Hospital which serves the
                needs of the vast South West region of Kenya and the country at large.</p>
            <p>Tenwek Hospital is a Christian community that seeks to exemplify Christ in all aspects of what we do and we strongly believe that We Treat but Jesus ultimately Heals!
                We provide compassionate and affordable health care services centered on quality and Christ mindedness.</p>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <h3 class="tenwek-history-h3">History of Tenwek Hospital</h3>
                    <p>The history of Tenwek Hospital dates back to 1937 when WGM sent Trudy Shyrock to serve as the first trained nurse. Later on in 1959, Dr. Ernie Steury and his wife arrived to serve as the first missionary doctor and to assist Trudy with the medical functions. The adventures of Dr. Steury, popularly known as ‘Mosonik’, have been documented in a beautiful book titled the Miracle at Tenwek. The book documents in detail how God used men like you and me to serve the sick and how
                        Dr. Steury set the foundation blocks for what would grow to become a thought leader in the Kenyan medical sector.</p>
                    <p>We recognize that our history would be non-existent without World Gospel Mission, the Africa Gospel Church and the Tenwek community. The three have been a support pillar for the hospital and have stood with us through the good and the bad. Here is a detailed s
                        tep by step overview of our history that dates back to 1935.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <img class="intro-image" src="../static/images/tenwek-img-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of introduction section-->

<!--start of services section-->
<section>
    <div class="row ">
        <div class="col-md-4 col-sm-4 col-12 a">
            <div class="card service-card">
                <img class="card-img-top" src="../static/images/Neurosurgical-Services.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Neurosurgical Services</h4>
                    <p class="card-text">Performing more than 500 cases per year, neurosurgeons at Tenwek Hospital
                        provide comprehensive clinic evaluations (Mondays and Wednesdays) as well as elective
                        and emergency surgeries on the brain and spine for both children and adults.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12 a">
            <div class="card service-card">
                <img class="card-img-top" src="../static/images/Surgical-Services.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Surgical Services</h4>
                    <p class="card-text">Our surgical team of consultants, residents, anesthetists and nurses work round the clock to ensure that all emergency and elective surgeries run smoothly as scheduled. Recovering adult patients are then transferred to either the male or female surgical
                        ward while recuperating children are observed from the general paediatric ward.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12 a">
            <div class="card service-card">
                <img class="card-img-top" src="../static/images/General-Outpatient-Clinic.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">General Outpatient Clinic</h4>
                    <p class="card-text">Our Outpatient clinic runs daily on Monday to Friday from 7:30am- 5:00pm. The clinic is run by a team of about 15 qualified Medical Officers and Clinical Officer
                        who assess patients and clinically examines them before recommending for laboratory or radiology testing.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-12 a">
            <div class="card service-card">
                <img class="card-img-top" src="../static/images/Maternity-Services.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Maternity Services</h4>
                    <p class="card-text">After a long 9 months, our maternity unit attends to expectant mothers and guides them towards the last stage of their gestation period.
                        The Tenwek Hospital maternity unit has a bed capacity of 117 and is served by a few semi-private rooms.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12 a">
            <div class="card service-card">
                <img class="card-img-top" src="../static/images/ICU.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Intensive Care Unit (ICU)</h4>
                    <p class="card-text">Our ICU Unit has a 6 bed capacity and is kitted with modern machinery
                        and equipment that allow our nursing team and doctors on call to monitor the condition of our patients keenly. Other than bedside monitors, the nursing station has a monitor with all the vitals
                        of the patients in the 6 beds making it easier for the team to track drastic changes and respond immediately.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12 a">
            <div class="card service-card">
                <img class="card-img-top" src="../static/images/eye-services.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Eye Services</h4>
                    <p class="card-text">Established in 1991, the Eye Unit has grown to become a household name for both clinical and surgical eye services. The department’s motto of
                        ‘Sharing the Light, Restoring Vision’ is the guiding principle that drives our compassionate and holistic ophthalmic care.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of services section-->

<!--start of footer section-->
<section>
    <div class="row footer-row">
        <div class="col-md">
            <h3 class="text-dark">Quick links</h3>
        </div>
        <div class="col-md">
            <h3 class="text-dark">Contact information</h3>
        </div>
        <div class="col-md">
            <h3 class="text-dark">Contact form</h3>
        </div>
    </div>
</section>
<!--end of footer section-->

</body>
</html>